header{
    top : 0;
    text-align : center;
    font-size : 24pt;
    /* background-color: ; */
    padding:15px;
    /* color: ; */
    /* width: 100%; */
    /* font-family: ; */
}

#sidebar{
    left: 0;
    width: 40%;
    background-color: blue;
}

.container-fluid{
    background-color: aqua;
    text-align: center;
}

.col-7{
    background-color: blue;
}

.col-5{
    background-color: pink;
}

.hide{
    display: none;
}