header{
    top : 0;
    text-align : center;
    font-size : 50pt;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding:15px;
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    /* width: 100%; */
    /* font-family: ; */
}

/* #sidebar{
    left: 0;
    width: 40%;
    background-color: blue;
} */
body {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.container-fluid{
    /* background-color: aqua; */
    text-align: center;
    align-content: center;
}

.col-7{
    background-color: blue;
    text-align: center;
}

.col-5{
    background-color: pink;
}

.hide{
    display: none;
}

#intro{
    padding: 40px;
    font-size : 64pt;
}

h2{
    padding: 10px;
}

.main-element{
    padding: 20px;
    text-align: center;
}

#letters{
    text-align: center;
    font-size: 20pt;
}

#score-keeper{
    text-align: center;
    margin: 30px auto;
 
 }
 
 .score{
    border-radius: 10px;
    border-left: 0.5px solid rgb(228, 227, 227);
    border-right: 0.5px solid rgb(228, 227, 227);
    box-shadow: 0px 2px 10px rgb(228, 227, 227);
    display: inline;
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
    margin-left: 10px;
 }

 .card{
     min-height: 25em;
     width: 40%;
 }